@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    <abbr title="Phone">Phone:</abbr>
    848.333.6689
</address>

<address>
    <strong>Webmaster:</strong> <a href="mailto:grace.wu2321@gmail.com">grace.wu2321@gmail.com</a>
</address>
