@page
@model Day1Model
@{
    ViewData["Title"] = "Day 1";
}

<br><br>

<h1> Day 1 - Exploring Rapperswil</h1><br>

<p>By the river in Stafa.</p> <br />
<img src="~/images/1_1.jpg" style="width:700px;height:470px;">
<br><br><br>

<p>Overlooking the rose garden in Rapperswil-Jona.</p> <br />
<img src="~/images/1_2.jpg" style="width:700px;height:470px;">
<br><br><br>

<p>The monastery in Rapperswil.</p> <br />
<img src="~/images/1_3.jpg" style="width:470px;height:700px;">
<br><br><br>

<p>Walking through the town in Rapperswil.</p> <br />
<img src="~/images/1_4.jpg" style="width:700px;height:470px;">
<br>

