@page
@model Day2Model
@{
    ViewData["Title"] = "Day 2";
}

<br><br>

<h1> Day 2 - Exploring Lucerne</h1><br>

<p>Playing with cows in Kriens.</p> <br />
<img src="~/images/2_1.jpg" style="width:700px;height:470px;">
<br><br><br>

<p>Walking around Lake Lucerne.</p> <br />
<img src="~/images/2_2.jpg" style="width:700px;height:470px;">
<br><br><br>

<p>Empty and rainy morning in town.</p> <br />
<img src="~/images/2_3.jpg" style="width:470px;height:700px;">
<br><br><br>

<p>Walking over the bridge.</p> <br />
<img src="~/images/2_4.jpg" style="width:700px;height:470px;">
<br><br><br>

<p>Buying bread at the farmer's market.</p> <br />
<img src="~/images/2_5.jpg" style="width:470px;height:700px;">
<br><br><br>

<p>Stone lion monument.</p> <br />
<img src="~/images/2_6.jpg" style="width:700px;height:470px;">
<br><br><br>

<p>Iconic wooden bridge in Lucerne.</p> <br />
<img src="~/images/2_7.jpg" style="width:700px;height:470px;">
<br><br><br>

<p>Lucerne's main train and bus station.</p> <br />
<img src="~/images/2_8.jpg" style="width:700px;height:470px;">
<br><br><br>

