@page
@model IndexModel
@{
    ViewData["Title"] = "Family Trip!";
}

<br><br>

<h1> Welcome to the Wu family Switzerland trip website! </h1><br>
<p>Click on the links below to learn more about our trip!</p> <br />


<img src="~/images/Home.JPG" style="width:500px;height:300px;">
<br><br />
<a href="/Day1">Day 1</a>
<br />
<a href="/Day2">Day 2</a>
